@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
body {
  background-color: #fafafa;

  min-height: 100%;
  position: relative;
  z-index: -1;
  display: flex;
}
.top_header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
.center {
  max-width: calc(935px + 40px);
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 20px;
}
.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  max-width: 110px;
}
.input_search {
  display: flex;
}
.input_search input[type="search"] {
  width: 270px;
  height: 35px;
  padding: 0 16px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #efefef;
  border: none;
  outline: none;
}
.input_search img {
  position: relative;
  left: 36px;
  width: 25px;
}
.input_search input[type="search"]::placeholder {
  font-size: 15px;
  padding-left: 24px;
  line-height: 25px;
  color: #8e8e8e;
  font-weight: 200;
}

.user_pages {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.link_pages_user {
  padding-left: 24px;
}
.avatar_user_log {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
.avatar_user_log img {
  max-width: 100%;
  border-radius: 50px;
}
.main {
  width: 820px;
  height: 100%;
  position: relative;
  top: 60px;
  position: relative;
  z-index: -1;
  padding-bottom: 32px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.container_storys {
  max-width: 470px;
  height: 117px;
  border-radius: 8px;
  margin-top: 32px;
  padding: 16px 0;
  padding-left: 16px;
  position: relative;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}
.publication_insta_user {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 8px;
  margin-top: 16px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  overflow: hidden;
}
.header_publication {
  width: 100%;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info_user_publication {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 8px 4px 8px 12px;
  justify-content: flex-start;
  align-items: center;
}
.avatar_user_publication {
  width: 40px;
  height: 40px;
  overflow: hidden;
  cursor: pointer;
}
.avatar_user_publication img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 50px;
}
.ig_user_publication_sound_theme {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
}
.ig_user {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #1c1e21;
  cursor: pointer;
}
.music_name {
  font-size: 12px;
}
.menu_options {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1c1e21;
  line-height: 16px;
}
.menu_options i {
  cursor: pointer;
}
.publication_poster {
  width: 100%;
}
.publication_poster img {
  width: 100%;
}
.buttons_action_and_save {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 6px;
  position: relative;
}
.button {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button svg {
  cursor: pointer;
}
.button_save {
  position: absolute;
  right: 0;
}
.publication_likes_and_coments {
  font-size: 14px;
  padding: 5px 12px;
}
.publication_likes {
  padding-bottom: 5px;
}
.liked_by {
  font-weight: 500;
  color: #1c1e21;
}
.other_likes {
  font-weight: 500;
  color: #1c1e21;
}
.ig_user {
  font-weight: 500;
  color: #1c1e21;
}
.hashtag {
  color: #00376b;
}
.see_all_comments {
  padding: 5px 0;
  color: #a8a8a8;
}
.see_all_comments span {
  cursor: pointer;
}
.visible_coments {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.ig_user {
  font-weight: 600;
  color: #1c1e21;
}
.visible_coments span {
  margin-left: 5px;
}
.ig_user_post {
  color: #262626;
}
.button_like_coment {
  position: absolute;
  right: 0;
}
.publication_time {
  letter-spacing: 0.2px;
  font-size: 10px;
  padding: 10px 0;
  color: #a8a8a8;
  text-transform: uppercase;
}
.add_coment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  border-top: 1px solid #efefef;
}

.menu_emote {
  padding: 8px 12px 8px 0;
}
.menu_emote svg {
  cursor: pointer;
}
.add_coment input {
  width: 100%;
  height: 20px;
  border: none;
  color: #000;
  outline: none;
}
.add_coment input::placeholder{
  color: #a8a8a8;
}
.post_comment a {
  color: #0095f6;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.5px;
  filter: opacity(0.3);
}
.user_story_publicated {
  width: 64px;
  height: 84px;
  border-radius: 50px;
  flex: 0 0 auto;
  margin-right: 15px;
}
.avatar_user_storys {
  width: 66px;
  height: 66px;
  border-radius: 50px;
  overflow: hidden;
  padding: 2px;
  cursor: pointer;
  background-image: linear-gradient(
    45deg,
    #ffa95f 5%,
    #f99c4a 15%,
    #f47838 30%,
    #e75157 45%,
    #d92d7a 70%,
    #cc2a92 80%,
    #c32e92 95%
  );
}
.avatar_user_storys img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
  border: 2px solid #fff;
}
.ig_user_story_publicated {
  font-size: 11px;
  padding: 5px 2px;
  text-align: center;
}
.ig_user_story_publicated a{
  color: #1c1e21;
}
.next_users_storys {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  
}
.arrow_right {
  cursor: pointer;
  background-color: #fff;
  border-radius: 50px;
  padding: 0 7px;
}
.title_area{
  color: #8e8e8e;
  font-size: 12px;
  margin-top: 8px;
  padding: 8px 0;
}
.user_area_and_suggestions_follow{
  margin: 32px 0 0 32px;
}
.container_area{
  padding: 8px;
}
.user_log{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.avatar_user{
  width: 52px;
  height: 52px;
  border-radius: 50px;
  cursor: pointer;
}
.avatar_user img{
  width: 52px;
  height: 52px;
  object-fit: cover;
  border-radius: 50px;
}
.user_logged{
  position: absolute;
  left: 0; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 32px;
  z-index: -1;
}
.ig_user{
  font-weight: 600;
  cursor: pointer;
}
.name_user{
  font-size: 13px;
  color: #a8a8a8;
}
.change_user{
  position: absolute;
  right: 0;
}
.change_user a{
  color: #0095f6;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: .5px;
}
.title_area{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title_area a{
  color: #1c1e21;
  font-weight: 700;
}
.suggested_user{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 8px 8px;
}
.avatar_user_suggested{
  max-width: 42px;
  height: 42px;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.avatar_user_suggested img{
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50px;
}
.name_ig_log{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
}
.verified img{
  width: 13px;
}
.follow_user{
  position: absolute;
  right: 0;
  padding-right: 8px;
  
}
.follow_user a{
  color: #0095f6;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  letter-spacing: .5px;
}
.footer{
  margin-left: 32px;
  list-style: none;
  padding: 8px 0;
  color: #a8a8a8;
}
.link_footer{
  color: #c7c7c7;
  font-size: 12px;
}
.link_footer::before{
  content: '';
  width: 1.8px;
  height: 1.8px;
  border-radius: 50px;
  display: inline-block;
  bottom: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #c7c7c7;
  margin-right: 3px;
}
.link_footer:nth-child(1)::before{
  display: none;
}
.copyright{
  font-size: 12px;
  color: #c7c7c7;
  margin-top: 8px;
  padding: 8px 0;
  text-transform: uppercase;
}